<!DOCTYPE html>
<html lang="en">

<head>

    <!--Components-->
    <link rel="stylesheet" type="text/css" href="Components.css" />

    <!--Google Fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <!--Ionicon-->
    <script type="text/javascript" src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>

</head>

<body>

    <br>
    <br>
    <input type="text" />

    <br>
    <br>
    <textarea></textarea>

    <br>
    <br>
    <select>
        <option>asdasdasd</option>
        <option>qweqweqwe</option>
    </select>

    <br>
    <br>
    <input type="checkbox"> asdasad

    <br>
    <br>
    <input type="email">

    <br>
    <br>
    <input type="date">

    <br>
    <br>
    <input type="password">

    <br>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id convallis metus. Integer consequat vulputate laoreet. Donec venenatis nulla quis tortor vehicula, sit amet commodo est viverra. Praesent venenatis porttitor ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer massa lorem, pharetra cursus libero a, maximus tincidunt tortor. Suspendisse sodales feugiat laoreet. </p>




    <br>
    <br>
    <div class="success">
     <a href="#" class="close">X</a>
	 <a class="icon"><ion-icon name="checkmark-circle-outline"></ion-icon></a> 
	<label class="message"> Mensaje Exitoso </label>
    </div>


    <br>
    <br>
    <div class="error">
    <a href="#" class="close">X</a>
	 <a class="icon" ><ion-icon name="warning"></ion-icon></a>
	<label class="message"> Mensaje Error </label>
    </div>

    <br>
    <br>
    <fieldset>
    <label>Campo de Texto</label>
        <input type="text" />
        <label class="validation-error"> <a><ion-icon name="alert"></ion-icon></a> Error Validacion </label>
<!-- 		<form:errors path="" cssClass="text-warning" />   -->
    </fieldset>

    <br>
    <br>
    <input class="button sent-button" type="submit" />

    <br>
    <br>
    <input class="button add-button" type="submit" />

    <br>
    <br>
    <input class="button edit-button" type="submit" />

    <br>
    <br>
    <input class="button delete-button" type="submit" />
    <br>
    <br>
    <input class="button inactivate-button" type="submit" />

    <br>
    <br>
    <a class="button add-button">
        <ion-icon name="add"></ion-icon>
    </a>

    <br>
    <br>
    <a class="button edit-button">
        <ion-icon name="create"></ion-icon>
    </a>

    <br>
    <br>
    <a class="button delete-button">
        <ion-icon name="trash"></ion-icon>
    </a>

    <br>
    <br>
    <a class="button inactivate-button">
        <ion-icon name="remove-circle"></ion-icon>
    </a>
    
    
    <br>
    <br>
    <div class="actions">
        <a class="button edit-button">
        <ion-icon name="create"></ion-icon>
    </a>
    <a class="button inactivate-button">
        <ion-icon name="remove-circle"></ion-icon>
    </a>
    </div>
    

    <br>
    <br>

    <table class="table standard-table">

        <thead>

            <tr>
                <th>Descripcion</th>
                <th>Mes</th>
                <th>Costo</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>

        </thead>

        <tr>
            <td>Agua</td>
            <td>Enero</td>
            <td>$3000</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>


    </table>

</body>

</html>
